:root {
    --green: #5ed68a;
    --red: #17748c;
    --background: #E0FFFF;
    --gradient1: #343e63;
    --gradient2: #2a3352;
  }
  
  html {
    font-size: 14px;
    font-weight: 300;
  }
  
  body {
    width: 90vw;
    margin: 0 auto;
    background: radial-gradient(var(--gradient1), var(--gradient2));
    padding: 4rem;
  }
  
  main {
    text-align: center;
    background: var(--background);
    border: solid var(--red);
    border-width: 8px 8px 8px 8px;
    min-height: 70vh;
    border-radius: 2rem 2rem 0 0;
    padding: 4rem;
    color: #1f2933;
  }
  
  h2 {
    font-size: 3.2rem;
    margin: 2rem 2rem 2rem 2rem;
  }
  
  p {
    font-size: 1.8rem;
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  button {
    border: none;
    cursor: pointer;
    background: var(--green);
    padding: 2rem 6rem;
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 1.4rem;
  }
  
  button:last-child {
    background: #17748c;
    margin: 3rem 0;
    padding: 2rem 0;
    width: 25rem;
    border-radius: 1rem 1rem 1rem 1rem;
  }

  /* game screen */
  
  h3 {
    font-size: 2rem;
  }
  
  input {
    border: 2px solid black;
    background: transparent;
    margin: 2rem 0;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
    font-size: 2rem;
  }

  .issomemo{
    text-decoration: none;
    color: black;
    font-size: 16px;
  } 
  .issomemo:hover{
      text-decoration: none;
      color: #17748c;
  }

  .stats {
    text-align: left;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer {
    background-color:#E0FFFF;
    border: solid var(--red);
    border-width: 8px 8px 8px 8px;
    border-radius: 0 0 2rem 2rem;
    font-size:12pt;
    color:black;
    font-family:Verdana;
    text-align:center;
    min-height:10vh;
    padding-top: 10px;
  }
  
  .info span {
    font-size: 1.6rem;
  }
  
  @media (min-width: 800px) {
    body {
      width: 60vw;
    }
  }